body{
    background-color: #82CDFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    transform: scale(0.75);
}

.winner-title{
    width: 430px;
    height: 74px;
    background-color: #0099FF;
    border-radius: 12px 12px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 33px;
    font-weight: 600;
   
}

.scoreboard{
    width: 950px;
    height: 148px;
    background-color: #0099FF;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 17px;

}

.scoreboard-player-name{
    color: #ffffff;
    font-size: 38px;
    font-weight: 600;
}

.score{
    width: 130px;
    height: 120px;
    background-color: #DBF1FF;
    border-radius:17px ;

    line-height: 108px;
    text-align: center;

    color: #0099FF;
    font-size: 104px;
    font-weight: 900;
}

.vs-small{
    margin: 0 20px;

    color:#ffffff;
    font-size: 58px;
    font-weight: 900;
    text-transform: uppercase;
}

.battle-field{
    height: 414px;


    display: flex;


    margin-top: 30px;
}

.button-wrapper{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button{
    width: 220px;
    height: 60px;
    background-color: #0099FF;

    font-size: 44px ;
    font-weight: 600;
    color: #DBF1FF;
    border-radius: 8px;
    border:none;

    cursor: pointer;
    transition: 400ms;

    box-shadow: 3px 3px 10px #000000 ;
}

.button:hover{
    border: 1px solid #0099FF;
    background-color: #DBF1FF;
    color: #0099FF;
    box-shadow: 1px 1px 1px #000000 ;
    transform: scale(1.1);
}

.field-box{
    width: 1000px;
    height:414px;
    background-color: #0099FF;
    margin: 0 19px;
    border-radius: 17px ;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 35px;
    box-sizing: border-box;

}

.field{
    width: 400px;
    height: 350px;
    background-color:#DBF1FF;
    border-radius: 17px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.vs-big{

    color:#ffffff;
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
}

.config{
    margin-top: 12px;

}

.button-reset{
    margin-left:90px
}

.move-image{
    width: 100%;
}

.field-player-2{
    transform: scalex(-1);
}